@model IEnumerable<WebHostChecker.Models.RequestHistory>
@{
    ViewData["Title"] = "История проверок";
}
<h2>@ViewData["Title"]</h2>


<table class="table">
    <thead>
        <tr><th>Дата проверки</th><th>Url-адрес</th><th>Доступность</th></tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr><td>@address.CheckDate</td><td>@address.HostName</td><td>@address.Availability</td></tr>
        }
    </tbody>
</table>
